{%extends 'base1.html'%}

{%block body_block%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
      <img src="{{request.user.employer.logo.url}}" class="card-img-top" alt="error">
      <div class="card-body">
        <h5 class="card-title">Company Name:  {{request.user.employer.company_name}}</h5>
        <p class="card-text"> Bio: {{request.user.employer.bio}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: {{request.user.employer.location}}</li>
        <li class="list-group-item">Services: {{request.user.employer.services}}</li>
      </ul>
      <div class="card-body">
        <a href="{%url 'pro_edit' request.user.employer.id%}" class="card-link btn btn-outline-danger ms-5">Edit Profile</a>
      </div>
    </div>
    </div>
    <div class="col-4"></div>
  </div>
{%endblock%}