{%extends 'base.html'%}

{%block body_block%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-5 border p-4">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Create" class="btn btn-outline-success ms-5 mt-3">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
{%endblock%}